/* Flex helpers */
.flex-1 {
  flex: 1 1 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.order-1 {
  order: 1
}

.order-2 {
  order: 2
}

/* Paddings */
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}