html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 12pt;
  background: linear-gradient(120deg, #B8D8BA 40%, #FBD2D7 40%);
  color: #04151F;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

div#app {
  display: flex;
  flex: 1 1 0;
}

div.nav-bar {
  height: 120px;
  background-color: #FFFFFF;
}

/* Fonts */
.heading {
  font-family: 'Petit Formal Script', cursive;
  font-size: 3rem;
}

/* Products */
.product-info {
  width: 60%;
}

.badge {
  display: inline;
  margin: 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #183A37;
  color: #FFFFFF;
}